<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
		{%- endif -%}
		<a onclick="mailAlert()"><li><i class="icon-mail-squared"></i></li></a>
	</ul>
</div>
<script type="text/javascript">
	function mailAlert() {
		var part1 = "fabian.nonnenmacher";
		var part2 = Math.pow(2,6);
		var part4 = "gmx.de"
		var part5 = part1 + String.fromCharCode(part2) + part4;
		alert("Please contact me on: " + part5);
	}
</script>
