<div class="technology-container">
    <div class="technology-box">
        <input id="java" type="image" alt="Java" onClick="toggleText(this.id)"
               value="During my job as Software Developer we mainly used Java 8 for developing our system.
               Thanks to the Code Reviews and feedback of my senior colleagues I quickly could improve my programming
               skills and could  adapt many best practices (e.g. from Effective Java and Clean Code)."
               src="/assets/images/technologies/java.png"/>
    </div>
    <div class="technology-box">
        <input id="groovy" type="image" alt="Groovy" onClick="toggleText(this.id)"
               value="I like Groovy as a light-weight alternative to Java. I often use it for prototyping and to write
               short scripts. During my job we used Groovy with Spock to write end-to-end tests for our microservices
               and to write Gradle scripts and plugins for our <i>Continuous Delivery</i> pipeline."
               src="/assets/images/technologies/groovy.png"/>
    </div>
    <div class="technology-box">
        <input id="scala" type="image" alt="Scala" onClick="toggleText(this.id)"
               value="I learned Scala 3 years ago based on a <a href=https://www.coursera.org/specializations/scala> coursera class </a>.
               Besides learning Scala, this class also enabled me to think and program in a more functional way. So at the
               end it also helped me to write better Java code.
               At the moment, during my <a href=/projects/masterthesis/> Master's thesis</a>, I extend Spark with new functionality by using Scala."
               src="/assets/images/technologies/scala.png"/>
    </div>
    <div class="technology-box">
        <input id="kotlin" type="image" alt="Kotlin" onClick="toggleText(this.id)"
               value="While learning Kotlin last semester with the <a href=https://www.coursera.org/learn/kotlin-for-java-developers>
               coursera class</a> of JetBrains,
               I could pick up most of the concepts easily, because I knew already Groovy and Scala.
               For me Kotlin is a nice alternative to Java. On the one hand it is compatible to most libraries and on the
               other hand through it's modern syntax it allows to write very concise code.
               So far I have not used it for bigger projects, only for small university assignments."
               src="/assets/images/technologies/kotlin.png"/>
    </div>
    <div class="technology-box">
        <input id="spring-boot" type="image" alt="Spring Boot" onClick="toggleText(this.id)"
               value="While working as Java developer, Spring Boot was the base framework for all our mircoservices. To
               profit the most we used many libraries from the Spring ecosystem. We used Spring Cloud to connect with Cloudfoundry,
               Spring Security to provide authentication based on the Bosch wide Identity Management, Spring Data for abstracting the
               databases and Spring Cloud Stream to connect with the RabbitMQ messaging system."
               src="/assets/images/technologies/spring-boot.png"/>
    </div>
    <div class="technology-box">
        <input id="cloudfoundry" type="image" alt="Cloudfoundry" onClick="toggleText(this.id)"
               value="While working at Bosch, they were building their own cloud based on Cloudfoundry,
                the <a href=https://blog.bosch-si.com/digital-transformation/why-a-bosch-iot-cloud/>Bosch IoT Cloud</a>.
                Even when the setup still had some teething problems, I enjoyed the division of work.
                The infrastructure team operated Cloudfoundry and we as application developers were their users. We deployed
                our applications into the elastic runtime and used the marketplace to book the 3rd party services."
               src="/assets/images/technologies/cloudfoundry.png"/>
    </div>
    <div class="technology-box">
        <input id="rabbitmq" type="image" alt="RabbitMQ" onClick="toggleText(this.id)"
               value="Besides REST which was the main API to our frontend, internally we followed an event-driven architecture
               approach. For communicating between the different microservices we used RabbitMQ. In our applications we connected
               to RabbitMQ with the Spring Cloud Stream abstraction."
               src="/assets/images/technologies/rabbitmq.png"/>
    </div>
    <div class="technology-box">
        <input id="mongodb" type="image" alt="MongoDB" onClick="toggleText(this.id)"
               value="Besides MySQL, MongoDB was the other DB technology which I have used during my Job. Especially for
                storing massive amount of gathered vehicle data we preferred a NoSQL database. This DB was operated by
                the infrastructure team and we accessed it with Spring Data."
               src="/assets/images/technologies/mongodb.png"/>
    </div>
    <div class="technology-box">
        <input id="junit" type="image" alt="JUnit" onClick="toggleText(this.id)"
               value="One of the first things I learned when starting to work was the importance of tests and until today
               I think writing good, maintainable tests on the right abstraction level is one of the hardest tasks. Obviously,
               for Java JUnit is the default framework and it's hard to imagine to write tests without it. I often used it
               in combination with Mockito and AssertJ. Whenever possible I try to follow <i>Test Driven Development</i>
               principles for writing software."
               src="/assets/images/technologies/junit.png"/>
    </div>
    <div class="technology-box">
        <input id="gradle" type="image" alt="Gradle" onClick="toggleText(this.id)"
               value="When setting up the project within Bosch we decided to use Gradle as our build management tool instead of Maven.
                Especially the extendability of the build scripts was very beneficial for us. Instead of writing shells
                scripts on our CI server we added custom gradle tasks to our build. This had the advantage, that we could easily
                execute all CI steps on our local machines for e.g. debugging. After the number of microservices increased, we
                moved a lot of this functionality to custom plugins to be able to share it between multiple projects. After a while
                I became the main responsible for those plugins."
               src="/assets/images/technologies/gradle.png"/>
    </div>
    <div class="technology-box">
        <input id="jenkins" type="image" alt="Jenkins" onClick="toggleText(this.id)"
               value="In the project I worked, I participated in setting up the jenkins server. We used jenkins for implementing
               a Continuous Delivery pipeline. On every push to the master branch, we executed the Gradle build with unit tests,
               end-to-end tests of an individual microservice, different Open-Source and dependency checks, the system tests and
               finally the deployment to our cloud environment. Because of the multiple microservices, we wanted to avoid defining
               jobs manually and used therefore the Jenkins Job DSL plugin and later with Jenkins 2 the Jenkinsfile approach."
               src="/assets/images/technologies/jenkins.png"/>
    </div>
    <div class="technology-box">
        <input id="docker" type="image" alt="Docker" onClick="toggleText(this.id)"
               value="I use docker regularly for setting up local development environments. We used in my job e.g. for the
               databases when executing our microservice end-to-end tests on Jenkins. Now in my Master's thesis I have created
               <a href=https://github.com/fnonnenmacher/spark-sql-fpga-mapping/tree/master/docker>a dockerfile </a> which
               defines the build environment for the CI tests on Github. I've never run docker containers in a production
               environment and only had a introduction to Kubernetes in one lecture."
               src="/assets/images/technologies/docker.png"/>
    </div>
    <div class="technology-box">
        <input id="spark" type="image" alt="Spark" onClick="toggleText(this.id)"
               value="In the class <i>Supercomputing for Big Data</i> at TU Delft I studied big data concepts. In different projects
               we developed Spark Queries and evaluated their performance on 20 node clusters on AWS. Now in my
               <a href=/projects/micronaut> Master's thesis </a>
               I go far behind this. I analyze the internals and implement alternative execution paths."
               src="/assets/images/technologies/spark.png"/>
    </div>
    <div class="technology-box">
        <input id="micronaut" type="image" alt="Spark" onClick="toggleText(this.id)"
               value="I have to admit, that I have not used Micronaut in a productive environment. However instead, I
               took a Software Architecture class at TU Delft in which we <a href=/projects/micronaut>analyzed the internal
               architecture</a>. Thanks to the knowledge I gained throught the class, I was able to contribute two pull requests:
               <a href=https://github.com/micronaut-projects/micronaut-core/pull/2928>[1]</a>,
               <a href=https://github.com/micronaut-projects/micronaut-core/pull/3038>[2]</a>."
               src="/assets/images/technologies/micronaut.png"/>
    </div>
</div>
<div class="technology-text">
    <p id="technology-text-field">Click on the technologies above to see the context in which I have used them.</p>
</div>
<div class="technology-trademarks">
    <p>Java™ and the associated logo are registered trademarks of Oracle and/or its affiliates.
        Groovy™, Apache Spark™, Spark™ and the associated logos are either registered trademarks or trademarks of The
        Apache Software Foundation in the
        United States and other countries. Kotlin™ and the associated logos are registered trademarks of the Kotlin
        Foundation.
        Spring, Spring Boot, RABBITMQ® and the associated logos are trademarks of Pivotal Software, Inc. in the U.S. and
        other countries.
        CLOUD FOUNDRY and the associated logo are trademarks of the CloudFoundry.org Foundation in the United States and
        other countries.
        MongoDB® and the associated logo are trademarks of MongoDB, Inc. in the United States and other countries.
        Gradle and the Gradlephant logo are registered trademark of Gradle, Inc. and its subsidiaries in the United
        States and/or other countries.
        Jenkins® is a registered trademark of Software in the Public Interest, Inc.
        Docker™ and the Docker logo are trademarks or registered trademarks of Docker, Inc. in the United States and/or
        other countries. Docker, Inc. and other parties may also have trademark rights in other terms used herein.
        Micronaut and the associated logo are trademarks or registered trademarks of Object Computing, Inc.
    </p>
</div>

<script type="text/javascript">
    function toggleText(input_id) {
        console.log(input_id);
        var input = document.getElementById(input_id);
        var textField = document.getElementById("technology-text-field");
        textField.innerHTML = input.value;
    }
</script>
